@mixin dimension-map($dimensions) {
  @each $breakpoint, $dimension in $dimensions {
    @include breakpoint($breakpoint) {
      width: map_get($dimension, width);
      height: map_get($dimension, height);
    }
  }
}

@mixin background-opacity( $color, $opacity: 0.3 ) {
  background: $color; /* The fallback for ancient things */
  background: rgba( $color, $opacity );
}