body.woocommerce-cart {
  table.shop_table {
    border-radius: 0;

    td.actions {
      #coupon_code {
        width: 12em;
      }
    }

    .is-virtual {
      td {
        background: mix($warning-color, $white, 20%);
      }
    }
  }
}