.woocommerce {
  .button,
  a.button,
  button.button,
  input#submit,
  input[type="button"].button,
  input[type="submit"].button,
  #respond input#submit{
    @include button;
    border-radius: $button-radius;

    &:not(.hollow) {
      border: none;
    }

    &.disabled {
      @include button-disabled;
    }

    //&.hollow {
    //  @include button-hollow;
    //  border: $button-hollow-border-width solid;
    //  text-shadow: $font-text-shadow;
    //}

    &.large {
      font-size: map_get($button-sizes, large);
    }

    &.alt {
      @include button-style(map_get($button-palette, secondary), auto, auto);

      &.disabled {
        @include button-disabled(map_get($button-palette, secondary));
      }
    }

  }
}