.main-wrap {
  @include xy-grid;
  margin-top: 1rem;
  min-height: 400px;

  &:not(.full-width) {

    &:not(.wide){
      @include xy-grid-container;
    }

    &.wide {
      @include xy-grid-container($width: rem-calc($grid-row-width-wide));
    }
  }

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  .main-content {
    @include xy-cell(12);
    margin-top: 2rem;
  }

  .entry-title,
  .page-title {
    font-family: $body-font-family;
    color: $dark-gray;
    font-size: rem-calc(26);
    margin-bottom: 1rem;
  }
}
