.footer-container {
  position: relative;
  margin: 0 auto;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(60);
  background: $primary-color;

  .honeycomb-overlay {
    position: absolute;
    top: -1px; // Fix slight transform malformation
    right: 0;
    transform: scaleY(-1);
  }
}

.footer {
  @include xy-grid;
  padding: rem-calc(30) 0;
  color: $white;

  @include breakpoint(medium) {
    max-width: calc(100% - 291px); // 291 is width of honeycomb overlay on right of footer
  }

  @include breakpoint(xxlarge) {
    @include xy-grid-container(rem-calc($grid-row-width-wide));
  }

  section {
    @include xy-cell($size: auto, $gutters: (
            small: 20px,
            medium: 80px
    ));

    &.footer-left {
      flex-basis: 100%;

      @include breakpoint(large) {
        flex-basis: 20%;
      }

      .custom-logo {
        margin-bottom: 1rem;
        max-width: 350px;

        @include breakpoint(small only) {
          max-width: calc(100% - 145px); // Account for honeycomb overlay
        }
      }

      .footer-social-icon {
        display: inline-block;
        font-size: 2.5rem;
        margin-right: 0.2em;
      }

      .footer-rbm-link {
        &:after {
          content: '';
          display: inline-block;
          width: 23px;
          height: 24px;
          background: url("../images/rbm-logo-footer.png");
          background-size: 23px 24px;
          margin-left: 0.5em;
          vertical-align: middle;
        }
      }
    }
  }

  .menu {
    @include menu-direction(vertical);

    a {
      padding: 0;
      margin-bottom: 0.6em;
      background: none !important;
    }
  }

  .widget-title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
