.site-search {
  .search-form {
    position: relative;
    width: 18em;
  }

  .search-input {
    background: $white;
    border: 1px solid mix($secondary-color, $black, 85%);
    margin-bottom: 0;
    margin-right: 0;
    height: 1.8rem;
    width: 100%;
    max-width: none;
    box-shadow: none;
    transition: border-color 300ms;
    color: $black;

    &:hover,
    &:focus {
      border: 1px solid mix($secondary-color, $black, 60%);
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $dark-gray;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $dark-gray;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $dark-gray;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $dark-gray;
    }
  }

  .search-submit {
    position: absolute;
    right: 0.5em;
    top: 50%;
    cursor: pointer;
    color: $dark-gray;
    transform: translateY(-50%);
  }

  &.mobile {
    display: block;

    @include breakpoint(large) {
      display: none;
    }

    .search-form {
      width: 80%;
      margin: 0 auto;
    }

    .search-input {
      height: 2.5em;
      font-size: 1.3rem;
      border-color: $white !important;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $white;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $white;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $white;
      }
    }
  }
}