.woocommerce-archive-header {
  position: relative;
  background: url("../images/hive-yellow.jpg") no-repeat center;
  background-size: cover;
  color: $white;
  padding: 3rem 0 1rem 0;
  margin-bottom: 3rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
    z-index: 1;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .woocommerce-archive-header-container {
    position: relative;
    @include xy-grid-container;
    @include xy-grid-container-padding;
    z-index: 10;
  }

  .page-title {
    color: inherit;
  }

  .woocommerce-archive-header-results {
    border-top: 3px solid;
    padding-top: 2rem;
    margin-top: 2rem;
  }
}