$product-thumbnail-sizes: (
        small: (
                width: 99px,
                height: 114px
        ),
        xlarge: (
                width: 142px,
                height: 163px
        )
);

.woocommerce div.product {

  // Image Gallery
  div.images.woocommerce-product-gallery {
    .flex-control-thumbs {
      margin-top: 0.5rem;

      > li {
        width: auto;
        margin-right: 0.5rem;

        img {
          @include hexagon-shape;
          @include dimension-map($product-thumbnail-sizes);
        }
      }
    }
  }

  // Variations
  .variations {
    vertical-align: middle;

    td, th {
      vertical-align: middle;
    }

    tbody {
      background-color: transparent;
      border: none;
    }

    .label, label {
      background: none;
      color: inherit;
      display: inline;
      font-size: inherit;
      line-height: inherit;
    }
  }
}

.woocommerce .product {

  // Sale
  .onsale {
    @include hexagon-shape;
    border-radius: 0;

    @include breakpoint(small only) {
      left: 0.3em;
      font-size: rem-calc(20);
    }
  }

}

.woocommerce.single-product {

  div.bundled_product_summary:not(.thumbnail_hidden) .details {

    float: none;
    width: 100%;
    padding: 0;

    .cart {
      margin-bottom: 0;
    }

    .product_title {
      font-size: 1rem;
    }

    .price {
      font-size: 1.25rem;
    }

    .quantity {
      margin-top: 0;
    }

  }

}