$product-thumbnail-sizes: (
        small: (
                width: 99px,
                height: 114px
        ),
        xlarge: (
                width: 142px,
                height: 163px
        )
);

.woocommerce div.product {

  // Sale
  .onsale {
    @include hexagon-shape;
    border-radius: 0;

    @include breakpoint(small only) {
      left: 0.3em;
      font-size: rem-calc(20);
    }
  }

  // Image Gallery
  div.images.woocommerce-product-gallery {
    .flex-control-thumbs {
      margin-top: 0.5rem;

      > li {
        width: auto;
        margin-right: 0.5rem;

        img {
          @include hexagon-shape;
          @include dimension-map($product-thumbnail-sizes);
        }
      }
    }
  }
}